<h1> Welcome Back {{user.screenName}}</h1>

<h2> Update your skills? <h2>
    {{#each skills}}
    <a href="/dashboard/{{pid}}/skillform">{{name}}</a>
    {{/each}}   
<br>
<a href="/skillfinder">Find People for your project</a>